.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
Button {
  width:6em !important;
}


.Grass {
  background-color: rgb(25, 165, 25) !important;
  
}

.Poison {
  background-color: rgb(143, 8, 143) !important;
}

.Fighting {
  background-color: rgb(219, 117, 0) !important;
}

.Fire {
  background-color: rgb(255, 123, 0) !important;
}

.Water {
  background-color: rgb(33, 117, 251) !important;
}

.Flying {
  background-color: rgb(86, 139, 139) !important;
}

.Dragon {
  background-color: rgb(156, 141, 1) !important;
}

.Psychic{
  background-color: rgb(162, 95, 179) !important;
}

.Ice{
  background-color: rgb(106, 199, 230) !important;
}

.Ground{
  background-color: rgb(163, 98, 23) !important;
}

.Rock {
  background-color: rgb(121, 90, 57) !important;
}

.Electric {
  background-color: rgb(207, 204, 4) !important;
}

.Bug {
  background-color: rgb(80, 136, 40) !important;
}

.Normal {
  background-color: rgb(168, 166, 131) !important;
}

.Fairy {
  background-color: rgb(199, 64, 154) !important;
}

.Ghost {
  background-color: rgb(94, 62, 104) !important;
}

.Dark {
  background-color: rgb(17, 17, 17) !important;
}

.Steel {
  background-color: rgb(165, 165, 165) !important;
}

.infoTitle {
    font-size: calc(2em + 1vmin);
    font-weight: 700;
}

.blackLink{
  color: black;
}

.evoBackground{
  background-color: rgba(207, 207, 207, 0.507);
  border-radius:100%;
}

.evolutions{
  display: flexbox !important;
  justify-content: center;
}

a {
  text-decoration: none;
}
i{
  color:black;
}

i:hover{
  color:rgb(37, 37, 37)
}

li .card-img {
  width: 13em;
  height:auto;
}

dd .card-img{
  width: 15em;
  height:auto;
}
.badge .card-img{
  width: 8em;
  height:auto;
}

.evoLineBackground{
  background: rgb(238, 238, 238);
}

.pokedexHeader{
  background: rgb(77, 77, 77);
  color: white;
}

input {
  text-align: center;
}



